div {
    width:800px;
}

div div {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
    float: left;
}

#colors{
    width:100;
    height:100;
}

.red{
    background-color:red;
}
.orange{
    background-color:orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color:blue;
}
.purple{
    background-color: purple;
}
.white{
    background-color: white;
}

